{
  "printWidth": 120,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "**/*.ts",
      "options": {
        "useTabs": true,
        "tabWidth": 4
      }
    }
  ]
}
