{
  "branches": ["main"],
  "tagFormat": "${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/changelog", {
      "changelogFile": "CHANGELOG"
    }],
    ["@semantic-release/npm", {
      "npmPublish": true
    }],
    ["@semantic-release/git", {
      "assets": ["CHANGELOG", "package.json", "package-lock.json"],
      "message": "chore(release): cut the ${nextRelease.version} release [skip ci]"
    }],
    ["@semantic-release/github", {
      "assets": ["dist/**", "bin/muna.js"]
    }],
  ]
}

