{
  "branches": ["main"],
  "tagFormat": "${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/changelog", {
      "changelogFile": "CHANGELOG"
    }],
    ["@semantic-release/git", {
      "assets": ["CHANGELOG", "package.json"],
      "message": "chore(release): cut the ${nextRelease.version} release [skip ci]"
    }],
    "@semantic-release/github",
    "@semantic-release/npm"
  ]
}

